.pessoa{
    border-radius: 50%;
        max-width:300px;
        max-height:300px;
        width: auto;
        height: auto;
}

.relatorio p {
    padding: 0;
    margin: 0;
}

.rpp1 h2, .rpp1 p {
    text-align: center;
}

.rpp2 h3, .rpp2 p{
    padding-left: 10px;
    
} 

.rpp2 ul, .rpp2 li {
    list-style: none;
}